* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  /* color-scheme: dark light; */
}



:root {
  --font: custom;
  background-color: #072c6b;
  --text: rgb(231, 227, 227);
  --bg: #072c6b;
}

@font-face {
  font-family: custom;
  src: url("assets/font/static/Oswald-Medium.ttf");
}

.colorr {
  color: var(--text);
}

header {
  background-color: white;
  padding-top: 0.7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
}

.brand {
  padding-left: 5rem;
}

.navlinks {
  list-style-type: none;
  display: flex;
  justify-content: end;
  gap: 3rem;
  padding: 12px;
}

.navlinks a{
  text-decoration: none;
  color: #072c6b;
}

.navlinks a:hover{
  text-decoration: none;
  padding: 5px 10px;
  background-color: var(--bg);
  color: white;
  border: var(--bg);
  border-radius: 9px;

}

.navlinks:last-child {
  padding-right: 3rem;
}

.skilltree {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
  margin: 0 auto;
  gap: 2rem;
}

.identity {
  font-family: var(--font), "Courier New", Courier, monospace;
}

main {
  width: 70%;
  margin: 10px auto;
}

.contact {
  padding: 0.34em 2em;
  display: inline-block;
  background: #0651d3;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0 black, -1px -1px 2px 0 white;
  border: blue;
  text-decoration: none;
  color: white;
}

.contact:hover {
  text-decoration: none;
  color: white;
  background: transparent;
}

.contact:active{
  background: transparent;
  box-shadow: 0.7px 0.2px 3px 0 black, -0.4px -0.4px 1px 0 white;
}

.aboutsection{
  margin-top: 1rem;
}

