* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  /* color-scheme: dark light; */
}

:root {
  --font: custom;
  background-color: #072c6b;
  --text: rgb(231, 227, 227);
  --bg: #072c6b;
}

@font-face {
  font-family: custom;
  src: url("assets/font/static/Oswald-Medium.ttf");
}

.colorr {
  color: var(--text);
}

header {
  background-color: white;
  padding-top: 0.7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
}

.logo img{
  width: 9%;
}

#toggle{
  display: none;
}

.brand {
  padding-left: 5rem;
}

.navlinks {
  list-style-type: none;
  display: flex;
  justify-content: end;
  gap: 3rem;
  padding: 12px;
}

.navlinks a{
  text-decoration: none;
  color: #072c6b;
}

.navlinks a:hover{
  text-decoration: none;
  padding: 5px 10px;
  background-color: var(--bg);
  color: white;
  border: var(--bg);
  border-radius: 9px;

}

.navlinks:last-child {
  padding-right: 3rem;
}

.skilltree {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
  margin: 0 auto;
  gap: 2rem;
}

.identity {
  font-family: var(--font), "Courier New", Courier, monospace;
}

main {
  width: 70%;
  margin: 10px auto;
}

.contact {
  padding: 0.34em 2em;
  display: inline-block;
  background: #0651d3;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0 black, -1px -1px 2px 0 white;
  border: blue;
  text-decoration: none;
  color: white;
}

.contact:hover {
  text-decoration: none;
  color: white;
  background: transparent;
}

.contact:active{
  background: transparent;
  box-shadow: 0.7px 0.2px 3px 0 black, -0.4px -0.4px 1px 0 white;
}

.aboutsection{
  margin-top: 1rem;
}

@media screen and (max-width: 800px){
  header{
      display: grid;
      grid-template-columns: 1fr 3fr;
      position: relative;
  }

  .logo img{
    width: 100%;
  }

  #toggle{
    display: block;
    color: var(--bg);
    text-align: end;
    margin-right: 3rem;
    transform: translateY(calc(50% - 21px));
  }

  .fa-bars{
    color: var(--bg);
    font-size: x-large;
  }

  nav{
      /* animation: remove 250ms linear; */
      display: none;
  }

  nav.active{
      background-color: var(--text);
      right: 0;
      top: 0;
      position: fixed;
      width: 70vw;
      max-width: 70dvw;
      height: 100vh;
      max-height: 100dvh;
      display: grid;
      align-items: center;
      animation: slide 0.3s linear;
      z-index: 100000;
    }

    .navlinks{
      list-style-type: none;
      display: grid;
      gap: 4rem;
      width: 100%;
      margin-top: 1rem;
      justify-content: normal;
    }

    li{
      text-align: center;
    }

    #close{
      color: var(--bg);
      position: absolute;
      top: 1.5625em;
      right: 2.1875em;
      padding: 1em;
      width: fit-content;
      font-family: sans-serif;
      border: 1px solid var(--bg);

    }

    .navlinks a{
      display: inline-block;
      color: var(--bg);
      width: 100%;
      text-decoration: none;
      font-size: larger;
      padding: 1rem;
  }

  .navlinks a:hover{
    background-color: var(--bg);
    color:var(--text);
  }

  .navlinks a:active{
    background-color: var(--bg);
    color:var(--text);
  }

  .navlinks a:focus{
    background-color: var(--bg);
    color:var(--text);
  }


  @keyframes slide {
      0%{
          transform: translateX(100%);
      }

      100%{
          transform: translateX(0%);
      }
  }

  @keyframes remove {
    0%{
      transform: translateX(0%);
    }

    100%{
      transform: translateX(100%);
    }
  }
}